#absolute {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 200px;
    height: 100px;
    background-color: lightpink;
}
#fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 100px;
    background-color: lightgreen;
}
#sticky {
    position: sticky;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: lightblue;
}
#contenitore {
    width: 500px;
    height: 1000px;
    
}