p {
    color: #1a4423;
}
h1 {
    color: #1a4423
}
a {
    color: #0f963e;
}
a:hover {
    color: #05593e;
}
.header {
    background-color: #68b878;
}
.main {
    background-color:#559a5c;
}
footer {
    background-color: #3e7744;
}
img {
    margin: 1px;
    border: 4px solid rgb(255, 255, 255);
    padding: 1cm;
}
body {
    background-color:#68b878
}
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.flexbox img {
    width:150px;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.wrapper img {
    width:150px;
}

.area {
    grid-area: "myArea";
    display: grid;
    grid-template-areas: 'myArea myArea . . .';
    grid-gap: 10px;
}
.area img {
    width: 150px;
}
